/* General */
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/* Application */
.app {
	background-color: #8aadbe;
	border: 1px solid grey;
	margin: 0 auto;
	padding: 10px;
	width: 80%;
}


/* Menu */
.menu {
	background-color: rgb(106, 208, 222);
	margin: 10px;
	width: 30%;
}
.menu .control-button {
  display: inline-block;
}
.menu .control-button:hover {
  cursor: pointer;
}

/* Basket */
.basket {
	background-color: #8abe94;
	border-radius: 2px;
	border: 1px solid #8aadbe;
	display: inline-block;
	margin: 10px;
	padding: 5px;
}
.basket .control-button, .basket .product {
  display: inline-block;
}
.basket .control-button {
  width: 30px;
}
.basket .control-button:hover {
  cursor: pointer;
}
.basket .product {
  width: 150px;
}


/* Products */
.products {
  background-color: white;
	border: 1px solid #8aadbe;
	border-radius: 2px;
	margin: 10px;
	padding: 5px;
}
.products .control-button,  .products .product {
  display: inline-block;
}
.products .control-button:hover,  .products .product:hover {
  cursor: pointer;
}
.products .control-button {
  width: 30px;
}
.products .product {
	text-align: center;
  width: 150px;
}
.product-pane {
	display: inline-block;
}

/* Basket */
.check {
	background-color: #e5e5e5;
	border-radius: 2px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	margin: 10px;
	padding: 5px;
}

.check .product {
  width: 150px;
}
